*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

:root {
  --app-bg: #E8E8E8;
  --app-text: rgba(0, 0, 0, 0.6);
}
[data-theme="dark"] {
  --app-bg: #101214;
  --app-text: rgba(255, 255, 255, 0.5);
}

body {
  background-color: var(--app-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.2s ease;
}

button {
  -webkit-tap-highlight-color: transparent;
}
